[Unit]
Description=Prometheus exporter for SunPower PV Supervisor
Documentation=https://github.com/ginoledesma/sunpower_pvs_exporter

[Service]
Restart=always
User=prometheus
EnvironmentFile=/etc/default/prometheus-sunpower-pvs-exporter
ExecStart=/usr/local/berryconda3/bin/sunpower-pvs-exporter $ARGS --host "192.168.1.222"
ExecReload=/bin/kill -HUP $MAINPID
TimeoutStopSec=20s
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
